<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HW_Levenets_PythonPro_Hillel</title>
</head>
<body>
<h3>HW-10. Hypotenuse.</h3>
<a href="{% url 'mess_app:triangle' %}">...mess_app/triangle/</a>

<p>Takes the values of two legs of a triangle (positive, greater than zero) and, if the values were valid,
    outputs the value of the hypotenuse.</p>

<hr>

<h3>HW-11. Person.</h3>
<a href="{% url 'mess_app:create-person' %}">...mess_app/person/</a>

<p>Creates a new Person-entry and edits an existing Person-entry.</p>


<hr>
    <h3><a href="{% url 'project_page' %}">go back to Main Project Page</a></h3>
<hr>

</body>
</html>
